<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Hello HTML</title>
<link rel="stylesheet" href="/public/style.css">
</head>
<body>
<h1>OCS bank</h1>
<p>Bienvenido</p>
<form action="/name" method="post">
<label>Cuenta   :</label>
<input type="text" name="first" value="Willy"><br>
<label>Password :</label>
<input type="text" name="last" value="Rex"><br><br>
<input type="submit" value="Ingresar">
</form> 
</body>

<script>
    window.watsonAssistantChatOptions = {
      integrationID: "e5ad0edf-e8b7-4842-9d1e-ae37daaf08d5", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "9e8e08f5-0c9e-4e43-854e-4a565c71e135", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>
</html>
